.header {
  padding: 15px 0;
  &__list {
    display: flex;
    margin-right: 54px;
  }
  &__row {
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    margin-left: 30px;
  }
  &__link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
  }
  &__btn {
    padding: 15px 25px;
    &:last-child {
      margin-left: 15px;
    }
  }
  &__right {
    display: flex;
    align-items: center;
  }
}
