.hero {
  padding: 100px 0 30px;
  overflow: hidden;
}

.hero__title {
  font-size: 48px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #2f281e;
}

.hero__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__img--big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/png/background.png");
  width: 100%;
  min-height: 438px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero__description {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  max-width: 436px;
  line-height: 1.5;
  margin: 36px 0 60px;
}

.hero__image {
  position: absolute;
}

.hero__image:first-child {
  left: 0;
  top: -5%;
}

.hero__image:nth-child(2) {
  bottom: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: blackgirl 3s ease-in-out infinite forwards;
          animation: blackgirl 3s ease-in-out infinite forwards;
}

.hero__image:nth-child(3) {
  right: 0;
  top: -12%;
  -webkit-animation: violett 2s ease-in-out infinite forwards;
          animation: violett 2s ease-in-out infinite forwards;
}

@-webkit-keyframes blackgirl {
  0% {
    bottom: -10%;
  }
  50% {
    bottom: 10%;
  }
}

@keyframes blackgirl {
  0% {
    bottom: -10%;
  }
  50% {
    bottom: 10%;
  }
}

@-webkit-keyframes violett {
  0% {
    top: -12%;
  }
  50% {
    top: 10%;
  }
}

@keyframes violett {
  0% {
    top: -12%;
  }
  50% {
    top: 10%;
  }
}
